NEXT_PUBLIC_WEBSOCKET_URL=
NEXT_PUBLIC_API_KEY=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_INDEXER_MAINNET_URL=
NEXT_PUBLIC_ACCOUNTS_URL=
NEXT_PUBLIC_ACCOUNTS_API_KEY=
NEXT_PUBLIC_FERAL_FILE_ASSET_URL=
NEXT_PUBLIC_PUB_DOC_URL=
