.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  .main-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 40px;
    .item {
      width: 100%;
      border-radius: 10px;
      background-color: #000000;
      opacity: 0.8;
      color: #ffffff;
      padding: 20px;
    }
  }
}
