.settingItem {
  border: none;
  display: flex;
  align-items: center;
  column-gap: 1em;
  color: white;
  height: 3.2em;
  width: fit-content;
  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4.5em;
    background: var(--Dark-Grey, #4a4a4a);
    width: 2.45em;
    height: 2.45em;
    img {
      width: 1.85em;
      height: 1.85em;
    }
  }
  img {
    width: 2.35em;
    height: 2.25em;
  }
  p {
    font-size: 1em;
    font-weight: 700;
    color: white;
  }
}

.settingItem.active {
  background-color: #999999;
  border-radius: 2.35em;
  padding: 0;
  padding-left: 0.3em;
  padding-right: 1.4em;
  p {
    color: black;
  }
}

.settingItem.focused {
  background-color: white;
}
