.rotate {
  width: fit-content;
  border: solid 1.5px white;
  border-radius: 90px;
  padding: 6px;
  div {
    height: 54px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 24px;
    padding-right: 28px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 90px;
    img {
      height: 32px;
      width: auto;
    }
  }
}

.rotate.active {
  div {
    background-color: #b9e5ff;
    color: black;
  }
}
