.toggle {
  width: fit-content;
  display: flex;
  flex-direction: row;
  border: solid 1.5px white;
  border-radius: 90px;
  padding: 6px;
  gap: 10px;

  .selection {
    height: 54px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0px 28px;
    border-radius: 90px;
    gap: 10px;
  }

  .selection.selected {
    background-color: #b9e5ff;
    color: black;
  }
}

.toggle.active {
  border-width: 3px;
}
