.list {
  display: flex;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  padding-bottom: 4em;

  .outline {
    border-radius: 4.5em;
    border: 0.1125em solid transparent;
  }
  .outline.focused,
  .outline:hover {
    border-color: black;
  }

  .option {
    display: flex;
    align-items: center;
    border-radius: 4.5em;
    border: 0.1125em solid black;

    .optValue {
      font-weight: bold;
      padding: 0.9em 1.8em;
      border-radius: 6.75em;
      margin: 0.35em;
    }
  }

  .option.selected,
  .option:hover,
  .option.focused {
    .optValue {
      background-color: #b9e5ff;
    }
  }

  .option:active {
    .optValue {
      background-color: #819fb2;
    }
  }

  .option.selected {
    .optValue {
      background-color: rgba(185, 229, 255, 0.3);
    }
  }
}

.submitBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  .submit {
    display: flex;
    padding: 1.35em 1.25em;
    align-items: center;
    justify-content: center;
    border-radius: 3em;
    border: solid 0.225em transparent;
    background: var(--FF-Highlight, #ecff0c);
    color: black;
    font-weight: bold;

    .sendLogIcon {
      width: 1.6em;
      height: 1.6em;
      margin-right: 0.5em;
    }
  }
  .submit.focused,
  .submit:hover {
    border-color: black;
  }

  .submit:active {
    background-color: rgb(181, 191, 67);
  }
}
